@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline:none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #1f242d;
    --second-bg-color:#b3b7bf;
    --text-color:#eddbdb;
    --main-color:rgb(68, 147, 152);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background:var(--bg-color);
    color:var(--text-color);
    
}
.nav{
    font-size:2rem;
    margin-left:5%;
    color:red;
}

section{
    min-height: 100vh;
    padding:10rem 9% 2rem;
}



.navbar a{
    
    font-size:1.7rem;
    color: var(--text-color);
    margin-left:4rem ;
    transition: .3s;
}
.navbar a:hover,
.navbar  a.active{
    color:var(--main-color)

}

#menu-icon{
   font-size :3.6rem;
   color:var(--text-color);
   display:none;
   
}
.home{
    display:flex;
    justify-content:center;
    align-items:center;
}
.home-img img{
    width:35vw;
    border-radius: 2rem;
    box-shadow: #fff;

}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom:2rem;
}

span{
    color:rgb(193, 53, 76);
}
.home-content h1{
    font-size: 5.6rem;
    font-weight:700;
    line-height:2;
    color:palevioletred;

}


.btn{
    display:inline-block;
    padding: 1rem 2.8rem;
    background-color:darkkhaki;
    border-radius:4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color:var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    border:2px solid brown;
}
.btn:hover{
   box-shadow: none;
   background-color: burlywood;
   color:brown;
   border:2px solid black;

}
.about a{
    color:black;
}
.about{

    background: var(--second-bg-color);
}
.heading{
    text-align: center;
    font-size: 4.5rem;
    
}
.about-content h2{
    text-align: center;
    line-height: 3;
    color:blueviolet;
}
.about-content h3{
    font-size:3rem;
    color:coral;
}
.about-content p{
    font-size:2rem;
    margin:2rem 0 3rem;
    line-height:2;
    color:black;
}


.education h2{
    margin-bottom:2rem;
}
.education-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    align-items:center;
    gap:3rem;
}
.education-container .education-box{
    flex: 1 1 30rem;
    background-color:darkcyan;
    padding:3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border:.2rem solid var(--bg-color);
    height:400px;
}
.education-container .education-box:hover{
    border-color: var(--main-color);
    transform:scale(1.02);
    background-color: rgb(175, 130, 71);
}
.education-box h3{
    font-size:2.6rem;
}
.eduction-box p,b{
    font-size:3rem;
}
.education-box span{
    font-size:4rem;
    color:goldenrod;
}
b, .education-box p{
    font-size: 3rem;
   
}
b{
    color:rgb(214, 45, 45);
}


.skills{
    background: var(--second-bg-color);
}
.skill li{
    font-size: 3rem;
}
.skill{
    color:black;
}
.skills h2{
    margin-bottom: 4rem;
    color:red;
}
.contact h2{
    color:blueviolet;
    margin-bottom: 5rem;
    font-size: 5rem;
}
.contact{
    background: var(--second-bg-color);
}
.contact h3{
    font-size: 5rem;
    color:chocolate;
}
.contact p,a{
    font-size: 3rem;
    color:chocolate;
}
.contact-info{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 2rem;
}
.contact-info .contact-box{
    flex: 1 1 30rem;
    background : var(--text-color);
    padding:3rem 2rem 4rem;
    border-radius:2rem;
}
.contact-info h3{
    font-size: 2rem;
    color:aqua;
}

.certificate h2{
    margin-bottom:5rem;
}
.cert-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    align-items:center;
    gap:3rem;
}

.cert-container .cert-box{
    position:relative;
    border-radius: 2rem;
   box-shadow: 0 0 1rem var(--bg-color);
   overflow:hidden;
   display:flex;
   /*transform:translateY(100%);*/
   

}
.cert-box img{
  -ms-ime-mode: auto;
  width:35vw;
  height:300px;
    border-radius: 2rem;
    box-shadow: #fff;
    
}
.contact-box h3{
    color:cornflowerblue;
}
    

@media(max-width:1200px){
    html{
        font-size:55%;
    }
}
@media(max-width:991px){
    .header{
        padding:2rem 3%;
    }
    section{
        padding:10rem 3% 2rem;
    }
    .contact{
        min-height:auto;
    }
    .certificate{
        padding: 7rem;
    }
    .cert-container{
        grid-template-columns: repeat(2,1fr);
    }
    .education-container{
        grid-template-columns:repeat(2,1fr) ;
    }
    

}
@media(max-width:768px){
   /* .logo{
        margin-bottom: 90%;
    }
    .header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:1rem ;
    background:var(--bg-color);
    display:flex;
    
    align-items:center;
    z-index:100;
    color:aqua;
    }
    #menu-icon{
        display:block;
        cursor:pointer;
        margin-left: 55%;
        margin-bottom: 75%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    }
    .navbar{
    margin-right:15%;
    display:block;
    position:fixed;
    top: 30%;
    left: 0;
    width: 30%;
    background: var(--bg-color);
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);

    }
    
    
    .navbar .active{
    display: block;
    }
    

    .navbar a{
        display: block;
    font-size: 1.5rem;
    margin: 3rem 0;
    }*/
    .home{
     flex-direction: column;   
    }
    .home-content{
        font-size:5rem;

    }
    .home-content h3{
        font-size:2.6rem;
    }
    .home-content h1{
        font-size:5rem;
    }
    .home-img img{
        width:70vw;
        margin-top:4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    
    
    .cert-container{
        width:auto;
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:617px){
    .cert-container{
        width:auto;
        grid-template-columns:1fr ;
    }
    .education-container{
        grid-template-columns:1fr ;
    }
    .cert-box img{
        height: 150px;
        
    }
    
    h2{
        font-size: 2rem;
    }
    
    .contact h3{
        font-size: 3rem;
        color:chocolate;
    }
    .contact p,a{
        font-size: 2rem;
        color:chocolate;
    }
    #menu-icon{
        visibility: visible;
    }
}
@media(max-width:365px){
    .homw-img img{
        width:90%;
    }
    .education h2{
        line-height: 2rem;
        margin-bottom: 1rem;
    }
    td,th{
        border:2px solid;
        padding:1px;
        margin:1px;
    }
    .education-container table thead{
        font-size: 1rem;
        font-weight: 50px;
        color:rgb(218, 152, 65);
    }
} 




